
/* pictures/page2 */
  .grid img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    padding: 10px;
  }

  /* videos/page3 */
  .grid2 iframe {
    width: 300px;
    height: 200px;
    cursor: pointer;
    padding: 10px;
  }
 

  /* back-to-top */
  #back-to-top-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
  }
  #back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #333;
  color: #fff;  
  }
  

  /* lightbox */
  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
  }
  



  /* email */
    .mail {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    background : rgb(153, 198, 211);
    border: 1px soild rgb(1, 20, 24);
    }

    /* .mail h2 {
    margin-left: 10px;
    } */
   
