
/* this is the correct .nav-bar */
.nav-bar {
  display: flex;
  padding: 14px 16px; 
  background-color: #f2f2f2;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}
/* Change the color of links on hover */
.nav-bar :hover {
  background-color: #ddd;
  color: black;
}

.main-body{
  padding: 14px 16px; 
}
